*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    /* color: #ffffff; */
    
    
}

.container {
  max-width: 1200px; /* or 1140px is also safe */
  margin: 0 auto;
  padding: 0 15px;
  background: #ADE8F4;
  
}

h2, h3, h4, h5, h6,
body, p {
  font-family: 'Poppins', sans-serif; /* or 'Roboto', sans-serif; */
}

h1 {
  font-family: 'Pacifico', cursive;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ADD5E6;
    background-color: #ade8f4;
    /* background: #ADE8F4; */
    /* background: linear-gradient(90deg, rgba(173, 232, 244, 1) 0%, rgba(186, 245, 208, 0.5) 50%, rgb(179, 206, 211) 100%);*/
    height: 80px;
    padding: 0 20px;


}

.logo{
    display: flex;
    align-items: center;
    
}

.logo i{
    font-size: 34px;
    color: #0073AA;
    padding-right: 12px;
}

.logo h1{
    font-size: 34px;
    color: #0073AA;
}
.navigation ul{
    display: flex;
    list-style: none;
}

.navigation ul li{
    margin: 0 15px;
    font-size: 18px;
}

.navigation ul li a{
    text-decoration: none;
    color: #ffffff;
}

.showcase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f0f4f8; */
    padding: 100px 20px;
}
.hero{
    width: 60%;
    /* border: 1px solid #0073AA; */
}

.hero-img{
    width: 40%;
    
}

.heroimg{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid #0073AA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.hero-content h2{
    font-size: 42px;
    /* color: #0073AA; */
    /* margin-bottom: 20px; */
}

.highlight{
    font-size: 42px;
    color: #0073AA;
    margin-bottom: 10px;
}

.hero-content p{
    font-size: 18px;
    color: #333333;
    margin-bottom: 20px;
    
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073AA;
    text-decoration: none;
    border-radius: 5px;
    /* transition: background-color 0.5s ease; */
    /* margin-right: 8px; */
}

/* .btn:hover{
    background-color: #005f8a;
    color: #ffffff;
} */

.btn-primary{
    background-color: #0073AA;
     color: #ffffff;
     margin-right: 8px;
}

.btn-secondary{
    background-color: #ffffff;
    color: #0073AA;
}

.btn-primary:hover{
    background-color: #ffffff;
    color: #0073AA;
    transition: background-color 0.4s ease;
}
.btn-secondary:hover{
    background-color: #0073AA;
    color: #ffffff;
    transition: background-color 0.4s ease;
}
/* Your mobile-specific styles here */
@media (max-width: 767px) {

    .header-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
    }

    .logo {
        margin-bottom: 10px;
    }
    .logo h1 {
        font-size: 24px;
    }
    .logo i {
        font-size: 24px;
    }
    .navigation ul {
        flex-direction: column;
        align-items: center;
    }

    .navigation ul li {
        margin: 10px 0;
    }

    .showcase {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .hero {
        width: 100%;
        margin-bottom: 20px;
    }
    .hero-content h2 {
        padding-bottom: 12px;
    }
    .hero-img {
        padding-top: 20px;
        width: 100%;
    }

    .hero-content p{
        font-size: 14px;
        padding-bottom: 20px;
    }

    .btn {
        width: 100%;
        text-align: center;
        

    }
    .btn-primary, .btn-secondary {
        width: 100%;
        /* margin: 8px 0; */
    }
    .btn-secondary{
        margin-top: 10px;
       
    }

    .hero-content h2 {
        font-size: 20px;
    }



}


